@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
  width: 500px;
  height: 500px;
  display: grid;
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  grid-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
}
.card{
  position: relative;
  background: #4A00E0;

  cursor: pointer;
}
.card::before{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 8rem;
}
.card.x::before{
  content: "X";
}
.card.o::before{
  content: "O";
}
.winner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 400px;
  height: 200px;
  padding: 20px 40px;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 20px;
  text-align: center;
  animation: animate .5s linear;
}
@keyframes animate{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.winner button{
  margin-top: 20px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  /* background-color: #BF360C; */
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.author {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
